<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title th:text="${title}" >Page title</title>
    </head>
    
    <nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href='/feed'>WEPA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/feed">Feed <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/registration">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" th:action="@{/search}" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search a person" aria-label="Search a person" name="query">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
    </nav>

    <div th:fragment="skillListing(skills, profilePath)">
      <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="skill:${skills}">
            <span th:text="${skill.skillName}">skill name</span>
                <form method="POST" th:action="@{/users/{profilePath}/skills/{skillId}(profilePath=${profilePath}, skillId=${skill.id})}">
                    <button type="submit" class="btn btn-success btn-sm">Endorse
                        <span class="badge badge-dark" th:text="${skill.likeCount-1}">Likes</span>
                    </button>
                </form>
        </li>
      </ul>
    </div>

    <div th:fragment="skillListingProfile(skills, profilePath)">
      <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="skill:${skills}">
            <span th:text="${skill.skillName}">skill name</span>
              <button type="submit" class="btn btn-success btn-sm" disabled>Endorsements
                  <span class="badge badge-dark" th:text="${skill.likeCount-1}">Likes</span>
              </button>
        </li>
      </ul>
    </div>

    <div th:fragment="connectionListing(connections)">
      <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="connection:${connections}">
          <a th:href="@{/users/{profilePath}(profilePath=${connection.profilePath})}" th:text="${connection.firstname+' '+connection.surname}">name</a>
          <form method="POST" th:action="@{/profile/connections/remove/{profilePath}(profilePath=${connection.profilePath})}">
            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
        </form>
        </li>
      </ul>
    </div>

    <div th:fragment="connectionRequestListing(requests)">
      <ul class="list-group list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" th:each="request:${requests}">
          <a th:href="@{/users/{profilePath}(profilePath=${request.initiator.profilePath})}" th:text="${request.initiator.firstname+' '+request.initiator.surname}">name</a>
          <form method="POST" th:action="@{/friendrequest/accept/{id}(id=${request.id})}">
            <button type="submit" class="btn btn-success btn-sm">Accept</button>
          </form>
          <form method="POST" th:action="@{/friendrequest/decline/{id}(id=${request.id})}">
            <button type="submit" class="btn btn-danger btn-sm">Decline</button>
          </form>
        </li>
      </ul>
    </div>

    <body></body>

    <div th:fragment="assets">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </div>

    <footer th:fragment="footer" class="footer fixed-bottom footer-bg-dark">
      <div class="container">
        <p>All rights reserved... Just kidding</p>
      </div>
    </footer>
</html>