.footer {
    position: fixed;
    color: white;
    background-color: #343a40;
    height: 30px;
    bottom: 0;
    width: 100%
}

.body {
    min-height: 200px;
    margin-bottom: 200px;
}

.post {
    font-size: large;
}

.comment {
    font-size: small;
}