<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head(Connections)">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body class="body">
        <nav th:replace="fragments/layout::navigation"></nav>
            <div class="container">
                <div th:if="${not #lists.isEmpty(requests)}">
                    <h2>Pending connection requests</h2>
                    <div th:replace="fragments/layout::connectionRequestListing(${requests})">Requests</div>
                </div>
                <h2>Connections</h2>
                <div th:replace="fragments/layout::connectionListing(${connections})">connections</div>
            </div>
        <footer th:replace="fragments/layout::footer"></footer>
        <div th:replace="fragments/layout::assets"></div>
    </body>
</html>