<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head(Feed)">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body class="body">
        <nav th:replace="fragments/layout::navigation"></nav>
        <div class="container">
            <h1>Make impact by sharing ideas</h1>
            <form method="POST" th:action="@{/posts/add}">
                <div class="form-group">
                    <textarea class="form-control" placeholder="What's on your mind" name="postText"></textarea>
                    <div class="text-right">
                        <button class="btn btn-dark btn-sm" type="submit">Share</button>
                    </div>
                </div>
            </form>
            <h2>Latest posts from your connections</h2>
            <ul class="list-group list-group">
                <li class="list-group-item border border-dark"  th:each="post:${posts}">
                    <div class="postaus">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1 post" th:text="${post.postText}">postText</p>
                        </div>
                        <form method="POST" th:action="@{/posts/{id}/addlike(id=${post.id})}">
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted" th:text="${post.owner.surname+' '+post.owner.firstname+' '+post.timestamp}">metadata</small>
                                <button class="btn btn-success btn-sm">Like
                                    <span class="badge badge-dark" th:text="${post.likeCount}">likes</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <h5>Comments</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="comment:${post.comments}">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-1 comment" th:text="${comment.commentText}">comment</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted" th:text="${comment.owner.surname+' '+comment.owner.firstname+' '+comment.timestamp}">metadata</small>
                            </div>
                        </li>
                    </ul>
                    <form method="POST" th:action="@{/posts/{postId}/comments/add(postId=${post.id})}">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Comment this post" name="commentText"></textarea>
                            <div class="text-right">
                                <button class="btn btn-dark btn-sm" type="submit">Add comment</button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <footer th:replace="fragments/layout::footer"></footer>
            <div th:replace="fragments/layout::assets"></div>
        </div>
    </body>
</html>