<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head(Login)">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/layout::navigation"></nav>
        <div class="container">
            <h1 class="col">
                Log in or create new account.
            </h1>
            <form method="POST" th:action="@{/login}">
                <div class="form-group col-md-6">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
                </form><br/>
            <h3 class="col">
                If you don't have account, <a href="/registration">Sign up!</a>
            </h3>
        </div>
        <footer th:replace="fragments/layout::footer"></footer>
        <div th:replace="fragments/layout::assets"></div>
    </body>
</html>