<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head(Profile)">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body class="body">
        <nav th:replace="fragments/layout::navigation"></nav>
            <div class="container">
                <h1 th:text="${name}">Name</h1>
                <img th:src="@{/profile/picture/content}" class="img-fluid"/>
                <form method="POST" th:action="@{/profile/picture}" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <div class="custom-file">
                          <input type="file" name="file" class="custom-file-input" id="inputGroupFile02">
                          <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text" id="inputGroupFileAddon02">Upload</button>
                        </div>
                        <div class="input-group-append">
                            <button class="input-group-text">Delete</button>
                        </div>
                    </div>
                </form>
                <form method="GET" th:action="@{/profile/connections}">
                    <div class="mt-0">
                        <button class="btn btn-dark btn-sm">Show my connections</button>
                    </div>
                </form>
                <div th:if="${not #lists.isEmpty(topThreeSkills)}">
                    <h3 class="mt-0">Most praised skills</h3>
                    <div th:replace="fragments/layout::skillListing(${topThreeSkills}, ${profilePath})"></div>
                    <div th:if="${not #lists.isEmpty(otherSkills)}">
                        <h3 class="mt-0">Other skills</h3>
                        <div th:replace="fragments/layout::skillListing(${otherSkills}, ${profilePath})"></div>
                    </div>
                </div>
                <form method="POST" th:action="@{/profile/skills}">
                    <div class="form-group">
                        <h3 for="skillnameinput">Add a new skill</h3>
                        <input type="text" class="form-control" id="skillnameinput" name="skillName"><br>
                        <button type="submit" class="btn btn-dark btn-sm">Add</button>
                    </div>
                </form>
                <div th:if="${not #lists.isEmpty(requests)}">
                    <h2>Pending connection requests</h2>
                    <div th:replace="fragments/layout::connectionRequestListing(${requests})">Requests</div>
                </div>
            </div>
        <footer th:replace="fragments/layout::footer"></footer>
        <div th:replace="fragments/layout::assets"></div>
    </body>
</html>