<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head(Profile)">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body class="body">
        <nav th:replace="fragments/layout::navigation"></nav>
            <div class="container">
                <h1 th:text="${name}">Name</h1>
                <img th:src="@{/profile/picture/content}"/>
                <form method="POST" th:action="@{/profile/picture}" enctype="multipart/form-data">
                    <div class="form-group row">
                        <input class="form-control" type="file" name="file" id="fileSelect" />
                        <button type="submit" class="btn btn-dark">Change picture</button>
                    </div>
                </form>
                <h2>Most praised skills</h2>
                <ul class="list-group list-group flush">
                    <li class="list-group-item" th:each="skill:${skills}">
                        <span th:text="${skill.skillName}">skill name</span>
                    </li>
                </ul>
                <form method="POST" th:action="@{/profile}">
                    <div class="form-group">
                        <h3 for="skillnameinput">Add a new skill</h3>
                        <input type="text" class="form-control" id="skillnameinput" name="skillName"><br>
                        <button type="submit" class="btn btn-dark">Add</button>
                    </div>
                </form>
                <h2>Pending friend requests</h2>
                <ul class="list-group list-group flush">
                    <li class=list-group-item th:each="request:${requests}">
                        <div class="row">
                            <div class="col-8">
                                <a th:href="@{/users/{profilePath}(profilePath=${request.initiator.profilePath})}" th:text="${request.initiator.firstname+' '+request.initiator.surname}">name</a>
                            </div>
                            <div class="col-2">
                                <form method="POST" th:action="@{/friendrequest/accept/{id}(id=${request.id})}">
                                    <button type="submit" class="btn btn-success btn-sm">Accept</button>
                                </form>
                            </div> 
                            <div class="col-2">
                                <button type="submit" class="btn btn-danger btn-sm">Decline</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        <footer th:replace="fragments/layout::footer"></footer>
        <div th:replace="fragments/layout::assets"></div>
    </body>
</html>