<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout::head(Profile)">
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <nav th:replace="fragments/layout::navigation"></nav>
        <div class="container">
            <h1>Search results</h1>
            <p th:text="${error}"></p>
            <div th:if="${not #lists.isEmpty(persons)}">
                <ul class="list-group list-group flush">
                    <li class="list-group-item" th:each="person:${persons}">
                        <a th:href="@{/}" th:text="${person.firstname+' '+person.surname}">name</a>
                    </li>
                </ul>
            </div>
        </div>
        <footer th:replace="fragments/layout::footer"></footer>
        <div th:replace="fragments/layout::assets"></div>
    </body>
</html>